* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: red;
  height: 100vh; /* Set full viewport height */
}

.common-bg {
  background: #b070d9;
  color: white;
}

.nav-ul li {
  display: inline-block;
  padding: 15px;
}

.nav-ul li a {
  color: white;
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
}



